

body{
    background-color: white;
  
}
.blue{
    color:#4285F4;
}
.red{
    color:#EA4335;
}
.green{
    color:#34A853;
}
.yellow{
    color:#FBBC04;
}
h1{
    font-size:80px;
}
.navbar{
display:flex;
align-items: flex-start;
justify-content: space-between;
padding-top:10px;
}
a{
    text-decoration: none;
    color:#5F6368;
    padding-right:10px;
    font-size: 14px;
}
a:hover{
    text-decoration: underline;
}
button{
    background-color: #4285F4;
    border:none;
    color:white;
    width:70px;
    height:30px;
    border-radius: 0.2rem;
}
img{
    width:30px;
    height:20px;
    margin:10px;
    border-radius: 30px;
}
.search{
    width:590px;
    height:45px;
    border:solid 1px rgba(95,99,104,0.3);
    border-radius:2em;
    display: flex;
    justify-content: space-between;
}
.google{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:70px;
}
.button-wrap{
    display: flex;
    align-items: space-around;
}
.grey-button{
    margin:20px;
    width:130px;
    height:35px;
    color:#5F6368;
    background-color:#edede9;   
}
.grey-button:hover{
background-color: white;
color:black;
border:1px solid rgba(95,99,104,0.5);
transition-duration: 200ms;
box-shadow:0.5px 0.5px rgba(95,99,104,0.5);

}
#blue-a{
    color:blue;
}
.foot-navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:220px;
}
.foot-navbar2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:#5F6368;
    background-color:#edede9;
    text-align: center;
    padding:10px;
    height: 30px;
    width: 100%;
}
.turkey{
    color:#5F6368;
    background-color:#edede9;
    padding-left:20px;
    width: 100%;
    height:50px;
}
hr{
    width:100%;
    margin:0;
    padding:0;
}


